.header-button {
    margin: 0 8px;
    text-transform: capitalize; /* This will keep the button text's first letter capitalized */
}

.header-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.user-button {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.user-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

